{{{define "distrox-api"}}}
    distrox-api:
        environment:
            - http_proxy={{{get . "HTTP_PROXY"}}}
            - https_proxy={{{get . "HTTPS_PROXY"}}}
            - "SERVICEDEPENDENCIES_UMSHOST={{{get . "UMS_HOST"}}}"
            - "SERVICEDEPENDENCIES_UMSPORT={{{get . "UMS_PORT"}}}"
            - "SERVICEDEPENDENCIES_CLOUDBREAKHOST={{{get . "CB_HOST_ADDRESS"}}}"
            - "SERVICEDEPENDENCIES_CLOUDBREAKPORT={{{get . "CB_PORT"}}}"
            - "SERVICEDEPENDENCIES_PERISCOPEHOST={{{get . "PERISCOPE_HOST_ADDRESS"}}}"
            - "SERVICEDEPENDENCIES_PERISCOPEPORT={{{get . "PERISCOPE_PORT"}}}"
            - "SERVICEDEPENDENCIES_CLUSTERHEALTHHOST=localhost"
            - "SERVICEDEPENDENCIES_CLUSTERHEALTHPORT={{{get . "DISTROX_API_HEALTHZ_PORT"}}}"
            - TELEMETRY_SERVICE_NAME=DistroxApi
        {{{- if get . "DISTROX_API_TARGET_PATH"}}}
        volumes:
        - {{{get . "DISTROX_API_TARGET_PATH"}}}/dependency-hard-links:/thunderhead-distrox-api-service/lib
        - {{{get . "DISTROX_API_TARGET_PATH"}}}/thunderhead-distrox-api-service-0.1-SNAPSHOT.jar:/thunderhead-distrox-api-service/thunderhead-distrox-api-service-0.1-SNAPSHOT.jar
        {{{- end}}}
        labels:
            - traefik.port=8982
            - traefik.frontend.rule=PathPrefix:/api/v1/datahub/
            - traefik.backend=distrox-api-backend
            - traefik.frontend.priority=10
        ports:
            - 8988:8982
            - {{{get . "DISTROX_API_HEALTHZ_PORT"}}}:8983
        networks:
            - {{{get . "DOCKER_NETWORK_NAME"}}}
        logging:
            options:
                max-size: "10M"
                max-file: "5"
        image: {{{get . "DOCKER_IMAGE_DISTROX_API"}}}:{{{get . "DOCKER_TAG_DISTROX_API"}}}
{{{end}}}
