{{{define "environment"}}}
    environment:
        environment:
            - http_proxy={{{get . "HTTP_PROXY"}}}
            - https_proxy={{{get . "HTTPS_PROXY"}}}
            - CERT_VALIDATION
            - REST_DEBUG
            - 'ENVIRONMENT_JAVA_OPTS={{{getEscaped . "ENVIRONMENT_JAVA_OPTS"}}}'
            - ENVIRONMENT_HBM2DDL_STRATEGY
            - "ENVIRONMENT_DB_HOST={{{get . "COMMON_DB"}}}"
            - "ENVIRONMENT_DB_PORT=5432"
            - ENVIRONMENT_DB_ENV_USER
            - ENVIRONMENT_DB_ENV_PASS
            - ENVIRONMENT_DB_ENV_DB
            - ENVIRONMENT_DB_ENV_SCHEMA
            - ENVIRONMENT_CLIENT_ID={{{get . "UAA_ENVIRONMENT_ID"}}}
            - ENVIRONMENT_HOSTNAME_RESOLUTION=public
            - ENVIRONMENT_ADDRESS_RESOLVING_TIMEOUT
            - "ENVIRONMENT_CLOUDBREAK_URL={{{get . "CLOUDBREAK_URL"}}}"
            - "ENVIRONMENT_FREEIPA_URL={{{get . "FREEIPA_URL"}}}"
            - "ENVIRONMENT_REDBEAMS_URL={{{get . "REDBEAMS_URL"}}}"
            - "ENVIRONMENT_SDX_URL={{{get . "DATALAKE_URL"}}}"
            - ENVIRONMENT_SCHEMA_SCRIPTS_LOCATION
            - ENVIRONMENT_SCHEMA_MIGRATION_AUTO
            - ENVIRONMENT_INSTANCE_NODE_ID={{{get . "CB_INSTANCE_NODE_ID"}}}
            - ENVIRONMENT_LOG_LEVEL
            - VAULT_ADDR=vault
            - VAULT_PORT={{{get . "VAULT_BIND_PORT"}}}
            - VAULT_ROOT_TOKEN={{{get . "VAULT_ROOT_TOKEN"}}}
            - "CAAS_URL={{{get . "CAAS_URL"}}}"
            - "ALTUS_UMS_HOST={{{get . "UMS_HOST"}}}"
        labels:
            - traefik.port=8088
            - traefik.frontend.rule=PathPrefix:/environmentservice/
            - traefik.backend=environment-backend
            - traefik.frontend.priority=10
        ports:
            - 8088:8088
        volumes:
            - "{{{get . "CBD_CERT_ROOT_PATH"}}}:/certs"
            - /dev/urandom:/dev/random
            - ./logs/environment:/environment-log
            - ./etc/:/etc/environment-service
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        logging:
            options:
                max-size: "10M"
                max-file: "5"
        image: {{{get . "DOCKER_IMAGE_CLOUDBREAK_ENVIRONMENT"}}}:{{{get . "DOCKER_TAG_ENVIRONMENT"}}}
        command: bash
  {{{end}}}  
