{{{define "cluster-proxy"}}}
    cluster-proxy:
        image: {{{get . "DOCKER_IMAGE_CLUSTER_PROXY"}}}:{{{get . "DOCKER_TAG_CLUSTER_PROXY"}}}
        environment:
            - CADENCE_HOST={{{get . "CLUSTER_PROXY_CADENCE_HOST"}}}
            - CADENCE_PORT={{{get . "CLUSTER_PROXY_CADENCE_PORT"}}}
            - DB_HOST={{{get . "COMMON_DB"}}}
            - DB_USERNAME={{{get . "CLUSTER_PROXY_DB_ENV_USER"}}}
            - DB_PASSWORD="{{{get . "CLUSTER_PROXY_DB_ENV_PASS"}}}"
            - UMS_HOST={{{get . "UMS_HOST"}}}
            - UMS_PORT={{{get . "UMS_PORT"}}}
            - ENABLE_VAULT=true
            - VAULT_ADDRESS=http://vault:{{{get . "VAULT_BIND_PORT"}}}
            - VAULT_ROOT_TOKEN={{{get . "VAULT_ROOT_TOKEN"}}}
            - VAULT_API_PATH=/v1/secret/data
            - TUNNEL_MANAGEMENT_HOST={{{get . "ALTUS_TUNNEL_MANAGEMENT_HOST"}}}
            - TUNNEL_MANAGEMENT_PORT={{{get . "ALTUS_TUNNEL_MANAGEMENT_PORT"}}}
            - DEBUG=true
        networks:
            - {{{get . "DOCKER_NETWORK_NAME"}}}
        restart: always
        labels:
            - "traefik.backend=cluster-proxy"
            - "traefik.frontend.rule=PathPrefix:/cluster-proxy"
            - "traefik.port=10080"
        ports:
            - 10180:10080

    cluster-proxy-health-check-worker:
        image: {{{get . "DOCKER_IMAGE_CLUSTER_PROXY_HEALTH_CHECK_WORKER"}}}:{{{get . "DOCKER_TAG_CLUSTER_PROXY_HEALTH_CHECK_WORKER"}}}
        environment:
            - CADENCE_HOST={{{get . "CLUSTER_PROXY_CADENCE_HOST"}}}
            - CADENCE_PORT={{{get . "CLUSTER_PROXY_CADENCE_PORT"}}}
            - CLUSTER_PROXY_HOST=cluster-proxy
            - CLUSTER_PROXY_PORT=10080
        restart: always
        depends_on:
            - cadence
        entrypoint: ["/usr/cluster-proxy/bin/cluster-proxy","-main", "com.cloudera.cdp.WorkflowMain"]
{{{end}}}