{{{define "dps"}}}
    traefik:
        ports:
            - "8081:8080"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./logs/traefik:/opt/traefik/log/
            - ./traefik.toml:/etc/traefik/traefik.toml
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        logging:
            options:
                max-size: "10M"
                max-file: "5"
        image: traefik:{{{get . "DOCKER_TAG_TRAEFIK"}}}
        restart: on-failure
        command: --debug --api --rest --ping --metrics --InsecureSkipVerify=true --defaultEntryPoints=http,https --maxidleconnsperhost={{{get . "TRAEFIK_MAX_IDLE_CONNECTION"}}} --traefiklog.filepath=/opt/traefik/log/traefik.log --accessLog.filePath=/opt/traefik/log/access.log --docker
    
    caas-api:
        build: {{{get . "DPS_REPO"}}}/caas-api
        image: hortonworks/dps-caas-api:{{{get . "DPS_VERSION"}}}
        ports:
        - "{{{get . "CAAS_MOCK_BIND_PORT"}}}:10080"
        volumes:
        - {{{get . "DPS_REPO"}}}/resources/dev-setup/serviceaccount:/var/run/secrets/kubernetes.io/serviceaccount
        environment:
        # address where knox will try to find caas at
        # docker for mac  => host.docker.internal
        # docker-compose  => caas-api
        # kubernetes      => localhost
        # dev sans docker => localhost
        - DB_HOST={{{get . "COMMON_DB"}}}
        - CAAS_HOST=caas-api
        - K8S_TOKEN_PATH=/var/run/secrets/kubernetes.io/serviceaccount/token
        - K8S_CACERT_PATH=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        - EXTERNAL_HOSTNAME=dps.local
        - |
          TENANTS_PRE_CONFIG=[{
                "name": "manage",
                "label": "Manage Tenant",
                "su": {
                "username": "admin",
                "password": "admin",
                "name": "Administrator",
                "email": "dps.hwx@gmail.com"
                }
            }, {
                "name": "hortonworks",
                "label": "Hortonworks",
                "su": {
                "username": "dps.hwx@gmail.com",
                "password": "admin",
                "name": "Jane Doe",
                "email": "dps.hwx@gmail.com"
                }
            }, {
                "name": "cloudera",
                "label": "Cloudera",
                "su": {
                "username": "dps.hwx@gmail.com",
                "password": "admin",
                "name": "Jane Doe",
                "email": "dps.hwx@gmail.com"
                }
            }]
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        restart: always
        labels:
        - "traefik.frontend.priority=100"
        - "traefik.backend=caas-api"
        - "traefik.frontend.rule=PathPrefix:/caas/api,/auth,/oidc,/idp"
        - "traefik.port=10080"
    
    caas-ui:
        build: {{{get . "DPS_REPO"}}}/caas-ui
        image: hortonworks/dps-caas-ui:{{{get . "DPS_VERSION"}}}
        labels:
        - "traefik.backend=caas-ui"
        - "traefik.frontend.rule=PathPrefix:/caas"
        - "traefik.port=9080"
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
    
    core-api:
        build: {{{get . "DPS_REPO"}}}/core-api
        image: hortonworks/dps-core-api:{{{get . "DPS_VERSION"}}}
        volumes:
        - {{{get . "DPS_REPO"}}}/resources/dev-setup/serviceaccount:/var/run/secrets/kubernetes.io/serviceaccount
        environment:
        - DB_HOST={{{get . "COMMON_DB"}}}
        - "CAAS_ADDRESS=http://{{{get . "CAAS_URL"}}}"
        - K8S_TOKEN_PATH=/var/run/secrets/kubernetes.io/serviceaccount/token
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        restart: always
        labels:
        - "traefik.backend=core-api"
        - "traefik.frontend.rule=PathPrefix:/core/api"
        - "traefik.port=10080"
    
    core-ui:
        build: {{{get . "DPS_REPO"}}}/core-ui
        image: hortonworks/dps-core-ui:{{{get . "DPS_VERSION"}}}
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        labels:
        - "traefik.backend=core-ui"
        - "traefik.frontend.rule=PathPrefix:/core"
        - "traefik.port=9080"
    
    cluster-proxy:
        build: {{{get . "DPS_REPO"}}}/cluster-proxy
        image: hortonworks/dps-cluster-proxy:{{{get . "DPS_VERSION"}}}
        volumes:
        - {{{get . "DPS_REPO"}}}/resources/dev-setup/serviceaccount:/var/run/secrets/kubernetes.io/serviceaccount
        environment:
        - DB_HOST={{{get . "COMMON_DB"}}}
        - "CAAS_ADDRESS=http://{{{get . "CAAS_URL"}}}"
        - K8S_TOKEN_PATH=/var/run/secrets/kubernetes.io/serviceaccount/token
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        restart: always
        labels:
        - "traefik.backend=cluster-proxy"
        - "traefik.frontend.rule=PathPrefix:/cluster-proxy"
        - "traefik.port=10080"
    
    core-gateway:
        build: {{{get . "DPS_REPO"}}}/core-gateway
        image: hortonworks/dps-gateway:{{{get . "DPS_VERSION"}}}
        # ports:
            # - {{{get . "PUBLIC_HTTP_PORT"}}}:3000
            # - {{{get . "PUBLIC_HTTPS_PORT"}}}:443
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        environment:
        - "CAAS_ADDRESS=http://{{{get . "CAAS_URL"}}}"
        - GATEWAY_DPS_JWT_COOKIE_NAME=dps-jwt
        - GATEWAY_UPSTREAM_HOSTNAME=traefik
        - GATEWAY_UPSTREAM_PORT=80
        - GATEWAY_UNAUTHENTICATED_PATHS=pathPrefix:/auth,pathPrefix:/idp,pathPrefix:/oidc,pathPrefix:/caas,!pathPrefix:/caas/api,pathPrefix:/core,!pathPrefix:/core/api,pathPrefix:/cloud/cb/info
    
    dev-gateway:
        image: abiosoft/caddy:no-stats
        environment:
        - GATEWAY_HOST=core-gateway
        networks:
        - {{{get . "DOCKER_NETWORK_NAME"}}}
        ports:
        - 80:80
        - 443:443
        volumes:
        - {{{get . "DPS_REPO"}}}/resources/dev-setup/Caddyfile:/etc/Caddyfile
{{{end}}}
