[file]

[backends]
{{{- if isLocal . "cloudbreak" }}}
    [backends.cloudbreak]
        [backends.cloudbreak.servers]
            [backends.cloudbreak.servers.server0]
            url = "{{{ .CloudbreakURL }}}"
{{{- end}}}
{{{- if isLocal . "datalake" }}}
    [backends.datalake]
        [backends.datalake.servers]
            [backends.datalake.servers.server0]
            url = "{{{ .DatalakeURL }}}"
{{{- end}}}
{{{- if isLocal . "environment" }}}
    [backends.environment]
        [backends.environment.servers]
            [backends.environment.servers.server0]
            url = "{{{ .EnvironmentURL }}}"
{{{- end}}}
{{{- if isLocal . "periscope" }}}
    [backends.periscope]
        [backends.periscope.servers]
            [backends.periscope.servers.server0]
            url = "{{{ .PeriscopeURL }}}"
{{{- end}}}
{{{- if isLocal . "redbeams" }}}
    [backends.redbeams]
        [backends.redbeams.servers]
            [backends.redbeams.servers.server0]
            url = "{{{ .RedbeamsURL }}}"
{{{- end}}}
{{{- if isLocal . "freeipa" }}}
    [backends.freeipa]
        [backends.freeipa.servers]
            [backends.freeipa.servers.server0]
            url = "{{{ .FreeIpaURL }}}"
{{{- end}}}
{{{- if isLocal . "caas-api" }}}
    [backends.caas-api]
        [backends.caas-api.servers]
            [backends.caas-api.servers.server0]
            url = "{{{ .CaasURL }}}"
{{{- end}}}
{{{- if isLocal . "cluster-proxy" }}}
    [backends.cluster-proxy]
        [backends.cluster-proxy.servers]
            [backends.cluster-proxy.servers.server0]
            url = "{{{ .ClusterProxyURL }}}"
{{{- end}}}

[frontends]
{{{- if isLocal . "cloudbreak"}}}
    [frontends.cloudbreak-frontend]
    backend = "cloudbreak"
        [frontends.cloudbreak-frontend.routes.frontendrule]
        rule = "PathPrefix:/cb/"
        priority = 100
{{{- end}}}
{{{- if isLocal . "datalake"}}}
    [frontends.datalake-frontend]
    backend = "datalake"
        [frontends.datalake-frontend.routes.frontendrule]
        rule = "PathPrefix:/dl/"
        priority = 100
{{{- end}}}
{{{- if isLocal . "environment"}}}
    [frontends.environment-frontend]
    backend = "environment"
        [frontends.environment-frontend.routes.frontendrule]
        rule = "PathPrefix:/env/"
        priority = 100
{{{- end}}}
{{{- if isLocal . "periscope"}}}
    [frontends.periscope-frontend]
    backend = "periscope"
        [frontends.periscope-frontend.routes.frontendrule]
        rule = "PathPrefix:/as/"
        priority = 100
{{{- end}}}
{{{- if isLocal . "redbeams"}}}
    [frontends.redbeams-frontend]
    backend = "redbeams"
        [frontends.redbeams-frontend.routes.frontendrule]
        rule = "PathPrefix:/rdb/"
        priority = 100
{{{- end}}}
{{{- if isLocal . "freeipa"}}}
    [frontends.freeipa-frontend]
    backend = "freeipa"
        [frontends.freeipa-frontend.routes.frontendrule]
        rule = "PathPrefix:/freeipa/"
        priority = 100
{{{- end}}}
{{{- if isLocal . "caas-api"}}}
    [frontends.caas-api-frontend]
    backend = "caas-api"
        [frontends.caas-api-frontend.routes.frontendrule]
        rule = "PathPrefix:/auth,/oidc,/idp,/caas"
        priority = 100
{{{- end}}}
{{{- if isLocal . "cluster-proxy"}}}
    [frontends.cluster-proxy-frontend]
    backend = "cluster-proxy"
        [frontends.cluster-proxy-frontend.routes.frontendrule]
        rule = "PathPrefix:/cluster-proxy"
        priority = 100
{{{- end}}}
